src/pug/index.pug
doctype html

html(lang='ru', prefix="og: http://ogp.me/ns#")
    head
        title Redsoft - Тестовое задание по вёрстке

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1")

        link(rel="icon", type="img/png", href="/img/favicons/16.png", sizes="16x16")
        link(rel="icon", type="img/png", href="/img/favicons/32.png", sizes="32x32")
        link(rel="icon", type="img/png", href="/img/favicons/65.png", sizes="64x64")
        link(rel="apple-touch-icon", href="/img/favicons/96.png", sizes="96x96")

    body
        header.section(data-anime='fadeInDown')
            .container
                div.menu
                    img.menu_logo(src='../img/logo.png', data-anime='fadeIn', data-delay=.6)

                    div
                        ul
                            li: a(href='/service', data-anime='fadeInLeft', data-delay=.7) О сервисе
                            li: a(href='/functions', data-anime='fadeInLeft', data-delay=.75) Функции
                            li: a(href='/opportunities', data-anime='fadeInLeft', data-delay=.8) Возможности
                            li: a(href='/partners', data-anime='fadeInLeft', data-delay=.85) Партнёры

                        a.button.menu__button(href='#feedback', data-anime='fadeIn', data-delay=.9) Оставить заявку

        main
            .section.main_one
                .container
                    .clear_100

                    .main_one__text
                        h2(data-anime='fadeInUp')
                            | Расширяем возможности предоставления
                            br
                            | качественных медицинских услуг

                        .clear_35

                        h3(data-anime='fadeInUp', data-delay=.3)
                            | «Дневник здоровья» – новый сервис для самоконтроля
                            br
                            | показателей состояния здоровья, разработанный для
                            br
                            | участников программы «Мое здоровье».

                        .clear_70

                        a.button.button_purple(href='#more', data-anime='fadeInUp', data-delay=.6) Узнать больше

                    .clear_100

                    .main_one__trigger
                        div.active
                        div

            .section.main_two
                .bg_block
                    .bg_block__lines
                        img(src='../img/screens/screen_2.png')

                    .bg_block__phone(data-anime='fadeInLeft')
                        img(src='../img/pictures/phone.png')

                .container
                    div.main_two__inner
                        h2(data-anime='fadeIn', data-delay=.2) Что такое «Дневник здоровья»?

                        .clear_25

                        h4(data-anime='fadeIn', data-delay=.3) Дневник пациента — это удобный онлайн-сервис:

                        ul
                            li(data-anime='fadeInRight', data-delay=.4): h4 Вносите результаты измерений вручную или с помощью интегрированных приборов
                            li(data-anime='fadeInRight', data-delay=.45): h4 Ведите персональную медицинскую карту с историей ваших измерений
                            li(data-anime='fadeInRight', data-delay=.5): h4 Делитесь результатами измерений со специалистами для повышения эффективности лечения
                            li(data-anime='fadeInRight', data-delay=.55): h4 Получайте рекомендации, созданные специально для вас

                        .clear_30

                        a.button.button_purple(href='#feedback', data-anime='fadeIn', data-delay=.8) Оставить заявку

                        .clear_80

            .section.main_three
                .main_three__bg

        footer

public/index.html
<!DOCTYPE html><html lang="ru" prefix="og: http://ogp.me/ns#"><head><title>Redsoft - Тестовое задание по вёрстке</title><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1"><link rel="icon" type="img/png" href="/img/favicons/16.png" sizes="16x16"><link rel="icon" type="img/png" href="/img/favicons/32.png" sizes="32x32"><link rel="icon" type="img/png" href="/img/favicons/65.png" sizes="64x64"><link rel="apple-touch-icon" href="/img/favicons/96.png" sizes="96x96"><link href="components/../style.css" rel="stylesheet"></head><body><header class="section" data-anime="fadeInDown"><div class="container"><div class="menu"><img class="menu_logo" src="components/img/logo.png" data-anime="fadeIn" data-delay="0.6"><div><ul><li><a href="/service" data-anime="fadeInLeft" data-delay="0.7">О сервисе</a></li><li><a href="/functions" data-anime="fadeInLeft" data-delay="0.75">Функции</a></li><li><a href="/opportunities" data-anime="fadeInLeft" data-delay="0.8">Возможности</a></li><li><a href="/partners" data-anime="fadeInLeft" data-delay="0.85">Партнёры</a></li></ul><a class="button menu__button" href="#feedback" data-anime="fadeIn" data-delay="0.9">Оставить заявку</a></div></div></div></header><main><div class="section main_one"><div class="container"><div class="clear_100"></div><div class="main_one__text"><h2 data-anime="fadeInUp">Расширяем возможности предоставления<br>качественных медицинских услуг</h2><div class="clear_35"></div><h3 data-anime="fadeInUp" data-delay="0.3">«Дневник здоровья» – новый сервис для самоконтроля<br>показателей состояния здоровья, разработанный для<br>участников программы «Мое здоровье».</h3><div class="clear_70"></div><a class="button button_purple" href="#more" data-anime="fadeInUp" data-delay="0.6">Узнать больше</a></div><div class="clear_100"></div><div class="main_one__trigger"><div class="active"></div><div></div></div></div></div><div class="section main_two"><div class="bg_block"><div class="bg_block__lines"><img src="components/img/screens/screen_2.png"></div><div class="bg_block__phone" data-anime="fadeInLeft"><img src="components/img/pictures/phone.png"></div></div><div class="container"><div class="main_two__inner"><h2 data-anime="fadeIn" data-delay="0.2">Что такое «Дневник здоровья»?</h2><div class="clear_25"></div><h4 data-anime="fadeIn" data-delay="0.3">Дневник пациента — это удобный онлайн-сервис:</h4><ul><li data-anime="fadeInRight" data-delay="0.4"><h4>Вносите результаты измерений вручную или с помощью интегрированных приборов</h4></li><li data-anime="fadeInRight" data-delay="0.45"><h4>Ведите персональную медицинскую карту с историей ваших измерений</h4></li><li data-anime="fadeInRight" data-delay="0.5"><h4>Делитесь результатами измерений со специалистами для повышения эффективности лечения</h4></li><li data-anime="fadeInRight" data-delay="0.55"><h4>Получайте рекомендации, созданные специально для вас</h4></li></ul><div class="clear_30"></div><a class="button button_purple" href="#feedback" data-anime="fadeIn" data-delay="0.8">Оставить заявку</a><div class="clear_80"></div></div></div></div><div class="section main_three"><div class="main_three__bg"></div></div></main><footer></footer><script type="text/javascript" src="components/../script.js"></script></body></html>
